<div class="container" [class.recording]="isRecording">
  <div class="container-capture">
    <button (click)="startRecording()">Start Recording</button>
    <button (click)="stopRecording()">Stop Recording</button>
  </div>
  <!-- <canvas #canvasRef class="canvas" width="1080" height="880"></canvas> -->

  <div
    class="canvas-wrapper"
    [style.width.px]="canvasWidth"
    [style.height.px]="canvasHeight"
  >
    <img #previewRef [src]="preview" *ngIf="showPreview" />
    <canvas
      #canvasRef
      *ngIf="showCanvas"
      class="canvas"
      [width]="canvasWidth"
      [height]="canvasHeight"
      [hidden]="!showCanvas"
    ></canvas>
    <image-cropper
      *ngIf="canvasMode === 'crop'"
      [imageBase64]="b64ToCrop"
      (imageCropped)="onImageCropped($event)"
      [aspectRatio]="aspectRatio"
    ></image-cropper>
  </div>

  <div class="actions">
    <button
      class="action"
      [class.active]="canvasMode === 'crop'"
      (click)="selectCanvasMode('crop')"
    >
      <i-feather name="crop" class="icon"></i-feather>
    </button>

    <button class="action" *ngIf="canvasMode === 'crop'" (click)="confirmCrop()">
      Crop
    </button>

    <button
      class="action"
      [class.active]="canvasMode === 'rect'"
      (click)="selectCanvasMode('rect')"
    >
      <i-feather name="square" class="icon"></i-feather>
    </button>
    <button
      class="action"
      [class.active]="canvasMode === 'line'"
      (click)="selectCanvasMode('line')"
    >
      <i-feather name="edit2" class="icon"></i-feather>
    </button>
    <button
      class="action"
      [class.active]="canvasMode === 'undo'"
      [disabled]="
        actionIndex < 0 ||
        (!!actionStack[this.actionIndex] &&
          this.actionIndex === 0 &&
          actionStack[0].mode === 'start')
      "
      (click)="undo()"
    >
      <i-feather name="corner-down-left" class="icon"></i-feather>
    </button>
    <button
      class="action"
      [disabled]="actionIndex === actionStack.length - 1"
      (click)="redo()"
    >
      <i-feather name="corner-down-right" class="icon"></i-feather>
    </button>
    <button class="action" (click)="reset()">
      <i-feather name="repeat" class="icon"></i-feather>
    </button>

    {{ actionIndex }} / {{ actionStack.length }}
  </div>
</div>
